<template>
  <div>
    <div class="form-group">
      <label for="title">Icon</label>
      <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        v-model="form.title"
        type="text"
        class="form-control"
        id="title"
        aria-describedby="title"
        placeholder="Title"
      />
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea
        v-model="form.body"
        class="form-control"
        placeholder="Body"
        id="body"
        rows="3"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</template>

<script>
export default {
  name: "BenefitForm",
  data() {
    return {
      form: {
        title: null,
        body: null,
      },
    };
  },
};
</script>
