<template>
  <div>
    <div class="text-right">
      <button class="btn btn-primary" @click="addForm">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Section Footer
      </button>
    </div>
    <div
      v-for="(form, index) in forms"
      :key="`form-${index}`"
      class="border-bottom my-2 py-2"
    >
      <div class="form-group">
        <label for="type">Type</label>
        <select v-model="form.type" id="type" class="form-control">
          <option :value="null">Select Type</option>
          <option
            v-for="(footer, index) in option.footers"
            :value="option.value"
            :key="`footer-${index}`"
          >
            {{ footer.label }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Icon</label>
        <input
          type="file"
          class="form-control-file"
          id="exampleFormControlFile1"
        />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          v-model="form.title"
          type="text"
          class="form-control"
          id="title"
          aria-describedby="title"
          placeholder="Title"
        />
      </div>
      <div class="text-right">
        <button class="btn btn-outline-danger" @click="removeForm(index)">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </div>
</template>

<script>
export default {
  name: "FooterForm",
  data() {
    return {
      option: {
        footers: [
          {
            id: 1,
            label: "Social Media",
            value: "media",
          },
          {
            id: 2,
            label: "Contact",
            value: "contact",
          },
        ],
      },
      forms: [
        {
          type: null,
          icon: null,
          title: null,
        },
      ],
    };
  },
  methods: {
    addForm() {
      this.forms.push({
        type: null,
        icon: null,
        title: null,
      });
    },
    removeForm(index) {
      if (this.forms.length === 0) return;
      this.forms.splice(index, 1);
    },
  },
};
</script>
