<template>
  <div>
    <div class="form-group">
      <label for="head-image">Head Image</label>
      <input
        id="head-image"
        type="file"
        class="form-control-file"
        accept="image/jpeg, image/jpg, image/png"
        @change="selectImage"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div
      class="modal fade"
      id="previewImage"
      tabindex="-1"
      role="dialog"
      aria-labelledby="previewImageLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Preview Image</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img
              :src="selected.image"
              alt="Preview Image - A Job Thing"
              class="img-fluid"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeadImage",
  data() {
    return {
      form: {
        headImage: null,
      },
      selected: {
        image: null,
      },
    };
  },
  methods: {
    selectImage(event) {
      const file = event.target.files[0];
      this.form.headImage = file;
      this.selected.image = URL.createObjectURL(file);
      $("#previewImage").modal("show");
    },
  },
};
</script>
