<template>
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Company Name</th>
            <th scope="col">Company Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Number Of Hiring</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in users.data" :key="`user-${index}`">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.companyName }}</td>
            <td>{{ user.companyEmail }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.hiring }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example" class="mt-3">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "UserList",
  data() {
    return {
      users: {
        data: [
          {
            id: 1,
            name: "John",
            companyName: "Company Name 1",
            companyEmail: "companyemail@gmail.com",
            phone: "081323343535",
            hiring: "2",
          },
          {
            id: 2,
            name: "Doe",
            companyName: "Company Name 2",
            companyEmail: "Doe@gmail.com",
            phone: "0813032323434",
            hiring: "3",
          },
        ],
        meta: null,
      },
    };
  },
};
</script>
